<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993096297121-3lgdtdtamc2embbtdiji13hr725edp3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993096297121-3lgdtdtamc2embbtdiji13hr725edp3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDLlusE9ioNtCgnSDq6JWXm1Mz6Vc_X8DY</string>
	<key>GCM_SENDER_ID</key>
	<string>993096297121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stayHomePollsApp</string>
	<key>PROJECT_ID</key>
	<string>stay-home-polls-app</string>
	<key>STORAGE_BUCKET</key>
	<string>stay-home-polls-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993096297121:ios:c81e593eb4f3bdfaa91ee0</string>
	<key>DATABASE_URL</key>
	<string>https://stay-home-polls-app.firebaseio.com</string>
</dict>
</plist>